// body View -start
body {
    font-family: Roboto;
    font-size: @font-size-1;
    font-weight: @font-weight-4;
    color: @Label-value;
}

// body View - stop

// Main View - Start
.o_web_client {
    background-color: @white;
    // Navbar view - start
    .top_nav {
        left: 0;
        position: absolute;
        width: 65px;
        height: 100%;
        z-index: 6;
        .slide-animation;
        .nav_menu {
            height: 100%;
            #oe_main_menu_navbar {
                background-color: @brand-primary;
                border: none;
                height: 100%;
                display: flex;
                flex-direction: column;
                .ad_navbar {
                    .o_quick_menu {
                        display: table;
                        width: 100%;
                        & > li {
                            padding: 5px;
                            float: none;
                            width: 100%;
                            position: inherit;
                            &:hover, &:focus, &:active {
                                background-color: lighten(@badge-bg, 5%);
                            }
                            & > a {
                                font-size: @font-size-5;
                                .fa {
                                    color: @white;
                                }
                            }
                            & > a.dropdown-toggle {
                                padding: 0;
                                font-size: @font-size-5;
                                .o_notification_counter.badge {
                                    font-size: @font-size-2;
                                    right: -2px;
                                    top: inherit;
                                    background-color: @brand-secondary;
                                    color: @white;
                                }
                                & > i {
                                    color: @white;
                                }
                                &:hover, &:focus, &:active {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    .ad_logo {
                        .ad-sm-logo {
                            display: block;
                            img {
                                margin: auto;
                            }
                        }
                    }
                }
                .nav.toggle {
                    -webkit-box-flex: 1;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0px;
                    text-align: center;
                    font-size: @font-size-6;
                    a {
                        color: @white;
                    }
                    #children_toggle {
                        width: 100%;
                        float: left;
                        padding: 5px;
                        position: relative;
                        i {
                            font-size: @font-size-5;
                            .slide-animation;
                        }
                        &.active {
                            i {
                                transform: rotate(136deg);
                                .slide-animation;
                            }
                            &:before {
                                .active-menu;
                                //top: 2;
                                right: -2px;
                            }
                        }
                    }
                    // Toggle button animation - [start]
                    #menu_toggle {
                        display: block;
                        padding: 10px;
                        transition: background-color .3s ease .45s,
                        border-color .3s ease .45s,
                        box-shadow .3s ease .45s,
                        transform .3s ease;
                        &.active {
                            transform: scale(.75);
                            .icon {
                                transform: rotate(225deg);
                                transition: transform .3s ease;
                                background-color: transparent;
                                &:before, &:after {
                                    background-color: @white;
                                    border: 3px solid @white;
                                    transition: width .1s linear .45s,
                                    margin .1s linear .45s,
                                    height .1s linear .45s,
                                    background .1s linear .45s;
                                }
                                &:before {
                                    margin-left: 2px;
                                    height: 22px;
                                    width: 5px;
                                    border: 2px solid @white;
                                }
                                &:after {
                                    height: 5px;
                                    width: 22px;
                                    margin-top: 2px;
                                    border: 2px solid @white;
                                }
                            }
                            &:before {
                                .active-menu;
                            }
                        }
                        .icon {
                            display: block;
                            overflow: hidden;
                            position: relative;
                            z-index: 1;
                            height: 0;
                            width: 18px;
                            margin: auto;
                            padding-top: 18px;
                            background-color: @white;
                            transition: transform .3s ease;
                            &:before, &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                z-index: 2;
                                top: 50%;
                                left: 50%;
                                border: 3px solid @brand-primary;
                                transition: width .1s linear .45s,
                                height .1s linear .45s,
                                margin .1s linear .45s,
                                background .1s linear .45s;
                            }
                            &:before {
                                height: 24px;
                                width: 10px;
                                left: 4px;
                                top: -3px;
                            }
                            &:after {
                                height: 10px;
                                width: 24px;
                                left: -3px;
                                top: 4px;
                            }
                        }
                    }
                    // Toggle button animation - [stop]
                }
                .navbar-collapse.collapse {
                    padding: 0px;
                    text-align: center;
                    .nav.navbar-nav.navbar-right.oe_user_menu_placeholder {
                        width: 100%;
                        .o_user_menu {
                            float: none;
                            .oe_back_btn {
                                position: absolute;
                                top: 56px;
                                left: 8px;
                                z-index: 999;
                                padding: 15px;
                                border-radius: 50%;
                                .fa {
                                    font-size: 16px;
                                }
                                &:hover {
                                    background-color: @tr-hover;
                                }
                            }
                            & > a {
                                padding: 10px 10px;
                                margin: 0;
                                .img-circle.oe_topbar_avatar {
                                    max-height: 35px;
                                    width: 35px;
                                    height: 35px;
                                    .round-border;
                                }
                                .oe_topbar_name {
                                    display: none;
                                }
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                            & > ul.dropdown-menu {
                                flex-direction: column;
                                position: fixed;
                                display: flex;
                                background-color: #fff;
                                top: 0;
                                left: -370px;
                                z-index: 111;
                                right: auto;
                                bottom: 0;
                                width: 370px;
                                padding: 0px 5px;
                                border: none;
                                webkit-transition-duration: 0.3s;
                                -moz-transition-duration: 0.3s;
                                -o-transition-duration: 0.3s;
                                transition-duration: 0.3s;
                                .divider {
                                    background-color: @border;
                                    margin-left: 65px;
                                    height: 3px;
                                }
                                .o_sub_menu_footer {
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    height: 100%;
                                    width: 100%;
                                    align-items: flex-end;
                                    & > a {
                                        color: #875A7B;
                                        margin-left: 2px;
                                        font-weight: bold;
                                    }
                                }
                                .ad_user_details {
                                    display: table;
                                    margin-top: 20px;
                                    margin-bottom: 30px;
                                    text-align: center;
                                    width: 100%;
                                    padding: 6px;
                                    .ad_avtar_image {
                                        img {
                                            width: 150px;
                                            height: 150px;
                                            max-height: inherit;
                                            .round-border;
                                        }
                                    }
                                    .oe_topbar_name {
                                        margin-top: 15px;
                                        margin-bottom: 15px;
                                        width: 100%;
                                        font-size: 15px;
                                        text-transform: uppercase;
                                    }
                                }
                                & > li {
                                    & > a {
                                        padding: 3px 20px 3px 0px;
                                        margin-left: 65px;
                                    }
                                }
                            }
                            a.dropdown-toggle {
                                background-color: transparent;
                                &:hover, &:focus, &:active {
                                    background-color: transparent;
                                }
                            }
                            &.open {
                                & > ul.dropdown-menu {
                                    left: 0px;
                                    webkit-transition-duration: 0.3s;
                                    -moz-transition-duration: 0.3s;
                                    -o-transition-duration: 0.3s;
                                    transition-duration: 0.3s;
                                    &:before {
                                        position: absolute;
                                        height: 100%;
                                        background-color: @bg-light;
                                        content: "";
                                        z-index: 7;
                                        right: -1000%;
                                        left: 100%;
                                        top: 0;
                                        bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    .nav.navbar-nav.navbar-right.oe_systray {
                        margin-right: 0px;
                        width: 100%;
                        & > li.o_planner_systray {
                            float: left;
                            padding: 0px 11px;
                            .small {
                                font-size: 40px;
                            }
                        }
                        & > li {
                            padding: 5px;
                            width: 100%;
                            position: inherit;
                            overflow: hidden;
                            &:hover, &:focus, &:active {
                                background-color: lighten(@badge-bg, 5%);
                            }
                            .caret{
                                display: none;
                            }
                            & > a {
                                opacity: 1;
                                font-size: @font-size-5;
                                .fa {
                                    color: @white;
                                }
                            }
                            & > a.dropdown-toggle {
                                background-color: transparent;
                                .o_notification_counter.badge {
                                    font-size: @font-size-3;
                                    right: 10px;
                                    top: 0px;
                                    background-color: @brand-secondary;
                                    color: @white;
                                }
                                & > i {
                                    color: @white;
                                    font-size: @font-size-5;
                                }
                                &:hover, &:focus, &:active {
                                    background-color: transparent;
                                }
                                &:after {
                                    content: attr(title);
                                    position: fixed;
                                    color: @Label-value;
                                    z-index: 9999;
                                    top: 8px;
                                    bottom: auto;
                                    font-size: @font-size-1;
                                    text-transform: uppercase;
                                }
                                &[aria-expanded="false"]:after {
                                    left: -370px;
                                    webkit-transition-duration: 0.3s;
                                    -moz-transition-duration: 0.3s;
                                    -o-transition-duration: 0.3s;
                                    transition-duration: 0.3s;
                                }
                                &[aria-expanded="true"]:after {
                                    left: 75px;
                                    webkit-transition-duration: 0.3s;
                                    -moz-transition-duration: 0.3s;
                                    -o-transition-duration: 0.3s;
                                    transition-duration: 0.3s;
                                }
                            }
                            & > ul.dropdown-menu {
                                &:after {
                                    content: "\f060";
                                    position: absolute;
                                    top: 56px;
                                    left: 8px;
                                    z-index: 999;
                                    padding: 15px;
                                    border-radius: 50%;
                                    font: normal normal normal 14px/1 FontAwesome;
                                    font-size: 16px;
                                    background: @white;
                                }
                            }
                            & > ul {
                                position: absolute;
                                top: 0;
                                left: -500px;
                                right: auto;
                                display: block;
                                bottom: 0;
                                border: none;
                                webkit-transition-duration: 0.3s;
                                -moz-transition-duration: 0.3s;
                                -o-transition-duration: 0.3s;
                                transition-duration: 0.3s;
                                &.o_mail_navbar_dropdown {
                                    .o_mail_navbar_dropdown_top {
                                        box-shadow: none;
                                        border-bottom: 1px solid @border;
                                        .o_filter_button {
                                            color: @icon;
                                            &.active {
                                                color: @brand-primary;
                                                .border-animation;
                                            }
                                            &:focus {
                                                .border-animation;
                                            }
                                        }
                                    }
                                    .o_mail_navbar_dropdown_channels {
                                        padding: 0px 10px;
                                        .o_mail_channel_preview {
                                            padding: 10px 5px;
                                            height: 65px;
                                            background-color: @white;
                                            .o_channel_info {
                                                .o_channel_title {
                                                    color: @heading;
                                                }
                                                .o_last_message_date {
                                                    color: @brand-primary;
                                                }
                                                .o_last_message_preview {
                                                    color: @Label-value;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.o_debug_dropdown {
                                    display: table;
                                    height: 100%;
                                }
                                .o_mail_navbar_dropdown_channels {
                                    max-height: 100%;
                                }
                            }
                            &.open {
                                & > ul {
                                    &.dropdown-menu {
                                        min-width: 370px;
                                        max-width: 100%;
                                        left: 0px;
                                        padding: 30px 0px 30px 65px;
                                        webkit-transition-duration: 0.3s;
                                        -moz-transition-duration: 0.3s;
                                        -o-transition-duration: 0.3s;
                                        transition-duration: 0.3s;
                                        background-color: @white;
                                        &:before {
                                            position: absolute;
                                            height: 100%;
                                            background-color: @bg-light;
                                            content: "";
                                            z-index: 7;
                                            right: -1000%;
                                            left: 100%;
                                            top: 0;
                                            bottom: 0;
                                        }
                                    }
                                }
                                & > a.dropdown-toggle {
                                    &:before {
                                        .active-menu;
                                        top: 2px;
                                        right: -6px;
                                    }
                                }
                            }
                            &.o_switch_company_menu{
                                .oe_topbar_name{
                                    font-size: 0;
                                    &:before{
                                        content: '\f1ad';
                                        display: inline-block;
                                        font: normal normal normal 14px/1 FontAwesome;
                                        font-size: 20px;
                                        color: @white;
                                        text-rendering: auto;
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                    }
                                }
                            }
                        }
                        .o_global_search{
                            display: none;
                        }
                    }
                }
                #av_full_view {
                    position: absolute;
                    top: 0px;
                    left: 73px;
                    bottom: auto;
                    padding: 19px 10px 15px 10px;
                    margin-bottom: 0;
                    i {
                        font-size: @font-size-8;
                        color: @icon;
                        &:hover {
                            color: darken(@icon, 7%);
                        }
                    }
                }
            }
            ul.dropdown-menu {
                box-shadow: none;
            }
        }
    }
    // Navbar view - stop
    // Left-Right-Col View - Start
    .o_main {
        .slide-animation;
        margin-left: 65px;
        // Left-col -start
        .ad_leftbar.o_sub_menu {
            position: absolute;
            display: flex !important;
            top: 0;
            height: 100%;
            float: left;
            left: -370px;
            width: 370px;
            z-index: 7;
            .slide-animation;
            background-color: @white;
            flex-flow: unset;
            -ms-flex-flow: unset;
            -moz-flex-flow: unset;
            border-right: none;
            // inner - Right Panel -start
            .ad_right_panel {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                .o_sub_menu_logo {
                    display: block;
                    padding: 15px;
                    .oe_logo_edit.oe_logo_edit_admin {
                        width: 100%;
                        display: none;
                        text-align: center;
                        position: absolute;
                        font-size: @font-size-1;
                        color: @white;
                        padding: 5px;
                        left: 0;
                        top: 8px;
                        background-color: @black;
                    }
                    &:hover {
                        .oe_logo_edit.oe_logo_edit_admin {
                            display: table;
                        }
                    }
                    & > img {
                        margin: 20px 0px;
                    }
                }
                .o_sub_menu_content.oe_application_menu_placeholder {
                    height: 100%;
                    overflow: auto;
                }
            }
            // inner right -stop
        }
        // Left-col -stop

        // Right-col -start
        .o_main_content.ad_rightbar {
            .o_control_panel {
                z-index: 1;
                background-color: @white;
                border-bottom: 1px solid @border;
                .breadcrumb {
                    background-color: @white;
                }
            }
            & > .o_content {
                margin-bottom: 52px;
                background-color: @white;
                & > .o_view_manager_content {
                    .slide-animation;
                }
            }
        }
        // Right-col -start
    }
    // Left-Right-Col View - stop
    &.o_fullscreen{
      .top_nav{
        left: -65px;
        #av_full_view{
          display: none;
        }
      }
      .o_main{
        margin-left: 0px;
      }
    }
}

// Main View - Stop

// Main View - Menu open -start
.o_web_client.nav-sm, .o_web_client.ad_open_childmenu {
    .top_nav {
        margin-left: 0px;
        .slide-animation;
        .nav_menu {
            #oe_main_menu_navbar {
                .navbar-collapse {
                    #av_full_view {
                        display: none;
                    }
                }
            }
        }
    }
    .o_main {
        .ad_leftbar.o_sub_menu {
            left: 0px;
            .slide-animation;
        }
        .o_main_content.ad_rightbar {
            &:before {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: @bg-light;
                content: "";
                z-index: 4;
            }
        }
    }
}

// Main View - Menu open -stop

// Full view - Menu close [start]
.o_web_client.ad_full_view {
    .top_nav {
        left: -65px;
        .slide-animation;
    }
    .o_main {
        margin-left: 0;
        .slide-animation;
        .o_main_content.ad_rightbar {
            & > .o_control_panel {
                .ad_bottom_controlpanel {
                    padding-left: 35px;
                    .slide-animation;
                }
                & > .o_search_options {
                    left: auto;
                    right: 0;
                }
            }
            .o_content {
                & > .o_view_manager_content {
                    .o_form_view.oe_form_configuration.o_base_settings.o_form_nosheet {
                        .o_control_panel {
                            .o_form_statusbar {
                                left: 0px;
                                right: 0px;
                                .slide-animation;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Full view - Menu close  [stop]

// Setting View - Start
.o_base_settings {
    .o_control_panel {
        .o_panel {
            .o_setting_search {
                .searchInput {
                    border: none;
                    padding-left: 10px;
                    &:focus {
                        .border-animation;
                    }
                }
            }
        }
    }
    .o_setting_container {
        .settings_tab {
            background: @white;
            border-right: 1px solid @border;
            div.tab {
                align-items: center;
                justify-content: flex-start;
                .icon {
                    height: 23px;
                }
                .app_name {
                    color: @normal-color;
                }
                &.selected, &:hover {
                    background-color: @brand-optinal;
                    box-shadow: inset 3px 0 0 @brand-primary;
                }
            }
        }
        .settings {
            & > .app_settings_block {
                h2 {
                    background-color: transparent;
                    border-bottom: none;
                    margin: 0px 17px;
                    text-transform: uppercase;
                    padding-left: 0px;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 0;
                        height: 0;
                        vertical-align: middle;
                        border-bottom: 0;
                        border-left: 8px solid @brand-secondary;
                        border-right: 8px solid @brand-secondary;
                        border-top: 8px solid @brand-secondary;
                        border-bottom: 8px solid @brand-secondary;
                        float: left;
                        margin-right: 10px;
                    }
                }
            }
        }
        .o_setting_box {
            .o_setting_right_pane {
                border: none;
            }
        }
    }
}

// Serting View - Stop